<template>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header text-muted">Овнер #{{ owner.id }}</div>
            <div class="card-body">
                <div><b>Имя:</b> {{ owner.firstname }}</div>
                <div><b>Фамилия:</b> {{ owner.lastname }}</div>
                <div><b>Телефон:</b> {{ owner.phone }}</div>
                <div><b>Страна:</b> {{ owner.country }}</div>
                <div><b>Компания:</b> {{ owner.company }}</div>

            </div>
            <div class="card-footer">
                <button class="btn btn-primary text-white mr-2 mb-2">Открыть карточку</button>
                <button class="btn btn-danger text-white mr-2 mb-2">Удалить</button>
            </div>

        </div>
    </div>
</template>

<script>
    // import SearchForm from './search-form.vue';
    export default {
        components: {
            // 'goods-search-form': SearchForm,
        },
        data() {
            return {
                owner: this.ownerobject
            }
        },
        props: [
            'ownerobject'
        ],
        methods: {

            // remove(id) {
            //     this.goods = this.goods.filter(good => good.id !== id);
            //     axios.delete('/vue/goods/'+id).then((res)=>{
            //         console.log(res);
            //     });
            // },

        },
        created() {

        }
    }
</script>
