<template>
    <div>
        <search-form></search-form>
        <div v-if="owners.length" class="row">
            <company-card v-for="owner in owners" :ownerobject="owner" :key="owner.id"></company-card>
        </div>
        <div v-else>Подходящих основателей нет в системе</div>
    </div>

</template>

<script>
    import CompanyCard from './card.vue';
    import SearchFrom from './search.vue';

    export default {
        components: {
            'company-card': CompanyCard,
            'search-form': SearchFrom,
        },
        data() {
            return {
                owners: this.ownersarray
            }
        },
        props: [
            'ownersarray'
        ],
        methods: {

            searchWasSuccess(newOwnersarray){
                this.owners = newOwnersarray;
            }
        },
        created() {

        },
        mounted() {
            Event.$on('searchWasSuccess', (newOwnersarray)=>{
                this.searchWasSuccess(newOwnersarray);
            });
        }
    }
</script>
