<template>
    <div class="card mb-3">
        <div class="card-header">Форма поиска</div>
        <form>
            <div class="card-body">
                <div class="form-group">
                    <input v-model="params.text" class="form-control mb-0" placeholder="Введите поисковый запрос"/>
                </div>
            </div>
            <div class="card-header">
                <button @click.prevent="onSearch" class="btn btn-success">Искать</button>
                <div v-if="errors" class="mt-4">
                    <ul>
                        <li v-for="error in errors" class="text-danger">{{ error }}</li>
                    </ul>
                </div>
            </div>

        </form>
    </div>
</template>

<script>

    export default {
        components: {

        },
        data() {
            return {
                params: {
                    type: 'owners',
                    text: ''
                },
                errors: {}
            }
        },
        props: [

        ],
        methods: {
            onSearch(){
                this.checkForm();
                this.submitForm();
            },

            submitForm(){
                //  Отправляем данные в контроллер
                axios.post('/vue/search', this.params)
                    .then((response)=>{
                        if(response.data.result === true) {
                            //  Запускаем действие в другом компоненте
                            Event.$emit('searchWasSuccess', response.data.return);
                        } else {
                            this.errors = response.data.errors;
                        }


                    });
            },

            /*  Проверяем форму на наличие ошибок
          * =============================================*/
            checkForm: function (e) {

                this.errors = [];

                if (!this.params.text) {
                    this.errors.push('Пожалуйста, введите поисковый запрос');
                }

                if (this.errors.length === 0) {
                    return true;
                }
                e.preventDefault();
            },


        },
        created() {

        }
    }
</script>
