// Colors
$yellow: #ffbd4a;
$black: #000000;
$blue: #3EB5F1;
$grey: #cccccc;
$light-grey: #f7f7f7;
$dark-grey: #444444;
$gray: #ffffff;
$dark: #232323;

$indigo: #6574cd;
$purple: #FEFEFE;
$pink: #ECB4B7;
$red: #e3342f;
$orange: #f6993f;

$green: #169038;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$light: #FAECED;
$info: #5FC7F7;


// Theme Style
$theme-colors: (
    "primary"   : #3EB5F1, // Основной синий
    "danger"    : #F46B84,  //  Ярко-розовый
    "warning"   : #FFC700,
    "info"      : $info,
    "success"   : #ECB4B7,
    "dark"      : $dark,
    "secondary" : #6F6F6F,
    "light"     : $light,
    'muted'     : #6F6F6F,
    //  custom
    'dark-grey' : $dark-grey,
    'grey'      : $grey,
    'light-grey': $light-grey,
    'light-pink': rgba($pink, .25),
);


// Body
$body-bg: #ffffff;
$body-color: #444444;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;




//$gray-600
//$gray-800
//
//// Создает утилиты цвета `.bg-*`
//@each $color, $value in $theme-colors {
//    @include bg-variant('.bg-#{$color}', $value);
//}
//



//$colors: (
//    "blue": $blue,
//    "indigo": $indigo,
//    "purple": $purple,
//    "pink": $pink,
//    "red": $red,
//    "orange": $orange,
//    "yellow": $yellow,
//    "green": $green,
//    "teal": $teal,
//    "cyan": $cyan,
//    "white": $white,
//    //"gray": $gray-600,
//    //"gray-dark": $gray-800
//) !default;
//


$list-group-border-color: '{$light}';
$input-placeholder-color:               $grey;
