// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



//@import '~vuetify/dist/vuetify.min.css';
//@import '~@mdi/font/css/materialdesignicons.min.css';

html {
    font-size: 1rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}
//
//@include media-breakpoint-up(md) {
//    html {
//        font-size: 1.4rem;
//    }
//}
//
//@include media-breakpoint-up(lg) {
//    html {
//        font-size: 1.6rem;
//    }
//}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

